= link_to check_todo_item_path(todo_item), remote: true, id: "todo-items:#{todo_item.id}", class: "list-group-item" do
  - if todo_item.done
    = fa_icon "check"
    %strike
      = todo_item.name
  - else
    = todo_item.name
